.active{
    color: red;
}
.section{
    display: none;
}

.section.show{
    display: block;
}
.error{
    border: 2px solid red;
}
.error + label{
    color: red;
}

.hidden{
    display: none;
}

.all_buttons {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    padding: 2rem 0rem 2rem 0rem;    
    }
#plusButton,
#minusButton,
#divideButton,
#multiplyButton,
#clearButton {
    font-weight: 900;
    font-size: 1.3rem;
    }

    .box{
        display: none;
    }
    .box.show{
display: block;
    }

.parent.show {
    display: block;
}
.parent {
    display: none;
}
#next_1{
    margin: 1rem;
}
.parent{
    padding: 1rem;
}