*{
    margin: 0;
    padding: 0;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.black{
    background-color: black;
}
.broun{
    background-color: brown;
}

.parent{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    /*align-items: center;*/

}
.child{
   /*flex-grow: 1;*/
   flex-basis: 100px;
   /*margin: 10px;
   padding: 10px;
   box-sizing: border-box;*/
}
.child1{
   /*flex-grow: 1;  */
   flex-basis: 100px;
}
.child2{
    /*width: 50px;*/
    /*flex-basis: 50px;*/
    flex-grow: 3;  
}
.child3{
   /* justify-self: end;
    width: 25px;*/
   /*flex-basis: 50px;*/
   flex-grow: 9;  
}